* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  margin: 0 auto;
  position: relative;
}
body {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.main-container {
  max-width: 1200px;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
}
button:focus {
  outline: none;
}
.navbar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar .logo {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(228, 15, 15);
}
.navbar ul,
ul.navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul.navbar-links li {
  margin: 10px 10px;
}
.navbar ul.navbar-links li a.active,
.contact-phone-number {
  color: red;
}
.navbar ul.navbar-links li a:hover {
  color: rgba(245, 96, 96, 0.876);
}
ul li {
  margin: 0 5px;
}
.contact-nav-button {
  display: block;
  padding: 7px 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .navbar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .navbar .logo {
    margin: 0;
    margin-left: 100px;
  }
  .navbar ul.navbar-links li {
    margin: 0 10px;
  }
}
