* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  margin: 0 auto;
  position: relative;
}
body {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
}
header h4 {
  text-align: center;
  color: rgb(206, 20, 20);
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 50px;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 50px;
}
.roofs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  column-gap: 40px;
  max-width: 1000px;
  justify-content: center;
  position: relative;
  row-gap: 20px;
}
.roofs .roof {
  background-color: rgb(214, 53, 32);
  padding-left: 15px;
}
.roofs .roof p.color-title {
  color: red;
  font-size: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.roofs .roof h6.title-header {
  text-transform: uppercase;
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 200;
  padding-left: 20px;
}
.roofs .roof p {
  line-height: 1.4;
  padding-left: 20px;
}
.roofs .roof a {
  color: rgb(236, 56, 56);
}
/* picture services */
.picture-services {
  display: grid;
  max-width: 1000px;
  width: 100%;
  margin: 40px auto;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.picture-frame {
  height: 300px;
  width: 300px;
}
.picture-frame img {
  height: 100%;
}
/* projects-by-location */
.projects-by-location {
  text-align: center;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr;
  /* background-color: rgb(233, 14, 14); */
  min-height: 400px;
  max-width: 970px;
  margin-top: 80px;
  border-top: 1px solid black;
  padding-top: 30px;
}
.location-title {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  padding: 40px;
}
.location-title h3 {
  margin-bottom: 20px;
  color: red;
  font-weight: 200;
}
.location-title p {
  line-height: 1.7;
}
.location-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.location-search form {
  display: block;
  height: 50%;
}
.location-search button,
.location-search input {
  display: block;
  width: 100%;
  min-width: 300px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 100;
}
.location-search button:focus,
.location-search input:focus {
  outline: none;
  border: 1px solid red;
}
.location-search button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}
@media only screen and (min-width: 600px) {
  .projects-by-location {
    grid-template-columns: 1fr 1fr;
  }
}
