* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  margin: 0 auto;
  position: relative;
}
body {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.main-container {
  max-width: 1000px;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
}
button:focus {
  outline: none;
}
/* header */
header {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 40px auto;
  column-gap: 30px;
  align-items: center;
  padding: 0 10px;
  margin-top: 100px;
}

.header-content h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
.header-content p {
  line-height: 28px;
  margin-bottom: 10px;
}
.header-content button {
  border: none;
  cursor: pointer;
  padding: 7px 10px;
  color: white;
  background-color: red;
  border-radius: 3px;
  font-size: 16px;
  transition: 0.5s background-color ease;
}
.header-content button:hover {
  background-color: rgba(255, 0, 0, 0.66);
}
.header-stars {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 15px;
  /* border: 1px solid black; */
  font-size: 14px;
}
.header-stars p i.fa-star {
  color: rgb(255, 217, 3);
  padding: 0 5px;
}
.header-stars p span {
  margin-right: 5px;
  font-weight: bold;
}
/* header picture */

.header-picture img {
  border-radius: 3px;
}
@media screen and (min-width: 900px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 40px auto;
    column-gap: 30px;
    align-items: center;
  }
  .header-stars {
    width: 80%;
    transform: translateX(-80px);
  }
  .header-picture {
    margin: 30px;
  }
  .header-picture img {
    border-radius: 10px;
  }
  .header-stars p span {
    margin-left: -120px;
  }
}
/* services */
.services {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  column-gap: 10px;
  row-gap: 20px;
  /* grid-template-rows: 100px; */
  max-width: 1000px;
}
.service {
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 10px;
  /* padding: 15px; */
  position: relative;
  width: 100%;
  min-height: 280px;
  margin-bottom: 10px;
  align-self: center;
}
.service span {
  position: absolute;
  display: flex;
  top: -5px;
  right: 30px;
  transform: translate(0, -15px);
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 3px;
  background-color: white;
  color: red;
  z-index: 10;
  padding: 0 5px;
  align-items: center;
}
.service span p {
  margin-left: 5px;
}
.service h3 {
  text-align: center;
  margin: 10px;
}
.service p {
  display: block;
  widows: 100%;
  line-height: 30px;
  font-weight: 100;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.774);
  font-size: 17px;
}
.service img {
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0.1%, black);
}

.service button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);

  border: none;
  background-color: red;
  width: 80%;
  padding: 7px 10px;
  font-size: 16px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
  .services img {
    margin-bottom: -5px;
  }
}
/* credit */
.credit {
  max-width: 1000px;
  display: block;
  margin: 40px auto;
}
.credit h3 {
  text-align: center;
  margin-bottom: 15px;
}
.credit p {
  padding: 0 15px;
  text-align: center;
  line-height: 30px;
  font-weight: 100;
}
/* solutions */
.solutions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1000px;
  justify-content: center;
  height: 300px;
  align-items: center;
  column-gap: 40px;
}
.solutions .solution {
  padding: 15px;
}
.solutions .solution h3 {
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  color: red;
}
.solutions .solution p {
  line-height: 1.5;
  padding: 10px;
}
/* customer-ratings */
.customer-ratings {
  background-color: rgb(243, 242, 242);
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.customer-ratings h3 {
  margin: 20px 0;
  background-color: inherit;
  font-weight: 100;
  font-size: 30px;
  color: rgba(252, 22, 22, 0.829);
}
.customer-ratings .main-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  row-gap: 20px;
  column-gap: 40px;
  background-color: inherit;
  max-width: 1000px;
  margin-bottom: 20px;
}
.customer-rating {
  padding: 10px;
  background-color: inherit;
  border: 1px solid rgba(129, 128, 128, 0.856);
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.customer-rating .fa-star {
  color: rgb(255, 196, 0);
  margin-bottom: 10px;
  margin-left: 10px;
}
.customer-rating p {
  background-color: inherit;
  font-weight: 100;
  margin-bottom: 10px;
  line-height: 1.3;
}
p.signature {
  color: rgb(49, 49, 49);
  margin-left: 10px;
  font-style: italic;
}
@media screen and (min-width: 600px) {
  .customer-ratings .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* footer */
footer {
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr;
  align-items: flex-start;
  text-align: center;
  padding: 10px;
  color: rgb(75, 72, 72);
  font-size: 16px;
  row-gap: 20px;
}
footer .legal {
  font-size: 14px;
  order: 3;
}
footer h4 {
  margin: 5px 0;
  color: red;
}
footer li {
  list-style-type: none;
  margin: 10px 0;
}

@media screen and (min-width: 600px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .legal {
    text-align: left;
    order: 0;
  }
  .site-map-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .site-map-grid p {
    margin-bottom: 10px;
  }
  .site-map-grid p:hover {
    color: red;
    cursor: pointer;
  }
}
.reference {
  text-align: center;
  margin-bottom: 40px;
}
.reference a {
  color: red;
  margin-left: 10px;
}
